{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <h3>{{ article.body }}</h3>
    <h2>Authored By {{ article.author.name }}</h2>
    <a href='/symfony-crud/public'>Go Back</a>
{% endblock %}